{%- comment -%} Grupo de Botão do Footer {%- endcomment -%}
{%- if block.settings.show_button and block.settings.button_text != blank and block.settings.button_url != blank -%}
  <div class="footer-block__group footer-button-group">
    {%- if block.settings.button_heading != blank -%}
      <h3 class="footer-block__heading inline-richtext">{{ block.settings.button_heading }}</h3>
    {%- endif -%}
    
    <div class="footer-block__button-wrapper">
      <a href="{{ block.settings.button_url }}" class="button button--primary">
        {{ block.settings.button_text }}
      </a>
    </div>
  </div>
{%- endif -%}
