{%- comment -%} Grupo de Redes Sociais do Footer {%- endcomment -%}
{%- if has_social_icons -%}
  <div class="footer-block__group footer-social-group">
    <div class="footer-block__social">
      {%- if block.settings.social_heading != blank -%}
        <h3 class="footer-block__heading">{{ block.settings.social_heading }}</h3>
      {%- endif -%}
      {%- render 'social-icons', class: 'footer__list-social' -%}
    </div>
  </div>
{%- endif -%}
